save-exact=true
legacy-peer-deps=true

public-hoist-pattern[]=next
public-hoist-pattern[]=secure-password
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=@testing-library/*
public-hoist-pattern[]=@tanstack/react-query
public-hoist-pattern[]=keyv
public-hoist-pattern[]=@dnd-kit/*
